@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Root elements*/
:root {
  --main-colour: red;
  --secondary-colour: lightgrey;
  --main-font-colour: black;
  --secondary-font-colour: white;
  --heavy-font: "Open Sans", sans-serif;
  --body-font: "Roboto", sans-serif;
  --body-font-size: 1rem;
  --hover-out: 0 0 1rem black;
}
/*Header*/
header {
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  font-family: var(--body-font);
  margin: 2%;
}
header h1 span {
  font-family: var(--heavy-font);
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}
/*Main*/
body {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
}
h3 {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
}
.textImg {
  position: relative;
}
.listAuthor .textImg {
  margin: 0;
}

.textImg h4 {
  margin: 0;
  color: var(--secondary-font-colour);
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
}
.title {
  background-color: rgba(0, 0, 0, 0.425);
  height: 30%;
  width: 100%;
  position: absolute;
  bottom: 2%;
}
img {
  max-width: 100%;
}
.bigItem p {
  max-width: fit-content;
}
.desciption {
  display: flex;
  flex-direction: row;
  align-self: start;
}
.bigItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info {
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 3rem;
  justify-content: space-between;
}
.listAuthor .info {
  column-gap: 1rem;
}

/*Footer*/
footer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

/*Button*/
button {
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.3s;
}
.greyButton {
  background-color: var(--secondary-colour);
}
.redButton {
  background-color: var(--main-colour);
  color: var(--secondary-font-colour);
}
/*hover*/
.greyButton:hover {
  --secondary-colour: rgb(255, 224, 204);
  box-shadow: var(--hover-out);
}
.redButton:hover {
  --main-colour: rgb(255, 133, 51);
  box-shadow: var(--hover-out);
}
.hover:hover {
  box-shadow: var(--hover-out);
}

/*Search bar*/
.search {
  border-radius: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: block;
  background-color: var(--secondary-colour);
}
form {
  background-color: var(--secondary-colour);
  align-self: center;
  align-content: center;
  padding: 0.05rem;
  display: flex;
}
input {
  background-color: var(--secondary-colour);
  border: None;
}
/*Respondsivness*/
@supports (display: grid) {
  .sameAuthor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 100%;
  }
  .sameAuthor .listAuthor {
    max-width: 50%;
  }
  .moreLike {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: space-around;
    padding: 0 7.5%;
    max-width: 100%;
    gap: 1rem;
  }
  @media screen and (min-width: 768px) and (max-width: 1100px) {
  }
  @media screen and (min-width: 1101px) {
  }
}
